<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyJoga.Properties.Settings.Baza_19001_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=19001_DB;User ID=19001_User;Password=Uk--gbo+"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>